{% extends "base.html" %}
{% block content %}
<div class="main-content">
        <h2>About</h2>
        <p><b>This website should get you excited about travelling</b></p>
        <p>Travelling is fun. Many of us would like to travel to many places, spend many months on the road or just enjoy other cultures, people, and cousines. Unfortunatelly, there is no always time for that. Or there are no monney. Or ... insert your own reason.</p>
        <p>So here comes a website about travelling.</p>
        <ul>
            <li>Read the blog posts about destinations.</li>
            <li>Enjoy and experience the piece of the world.</li>
            <li>Get ready for the real world travelling.</li>
        </ul>
    
        <h4>Register to create your own</h4>
        <ul>
            <li>Create an account.</li>
            <li>Write your own stories and share them with others.</li>
        </ul>
    </div>
{% endblock content %}