{% extends "base.html" %}
{% block content %}
    <div class="main-content">
        <h2>Welcome to the page for {{ user.username }}</h2>
        <img align="center" src="{{ url_for('static', filename='profile_pics/'+current_user.profile_image) }}">
        <div>
            {% for post in blog_posts.items %}
                <h3><a href="{{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}">{{ post.title }}</a></h3>
                <p>Written By: <a href="{{ url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a></p>
                <p>Published on: {{ post.date.strftime("%Y-%m-%d")}}</p>
                <br>
                <p>{{ post.text }}</p>
            {% endfor %}
        </div>

        <nav>
            <ul>
            {% for page_num in blog_posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2)  %}
                {% if blog_posts.page == page_num %}
                <li>
                <a href="{{url_for('users.user_posts',username=user.username,page=page_num)}}">{{ page_num}}</a>
                </li>
                {% else %}
                <li>
                <a href="{{url_for('users.user_posts',username=user.username,page=page_num)}}">{{ page_num}}</a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        
        </nav>
    </div>

{% endblock content %}